*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    flex-direction: row;
    margin: 15px 50px;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    align-items: center;
}

.logo-item {

}

.logo-text {
    padding-left: 30px;
    font-family: 'Satisfy', cursive;}


.search-box {
}

#search-glass {
    font-size: 13px;
    transform: translateX(87px);
    border: 10px 60px;
    
}

#search-glass {
    font-size: 13px;
    transform: translateX(87px);
}

input {
    font-size: 18px;
    background-color: transparent;
    text-shadow: none;
    border: 1 solid;
    border-radius: 6px;
}

.media-icons {

}

.icons-nav {
    display: flex;
    flex-direction: row;
}

.icons-item {
    margin: 15px;
    list-style: none;   
}

a {
    color: black;
}

i {
    font-size: 23px;
}
